<div flex layout="column" layout-align="center center" class="md-whiteframe-z2">
    <h2 align=""center>Add Your Question</h2>
    <md-input-container>
        <label>Your Username</label>
        <input type="text" ng-model="qusername">
    </md-input-container>
    <md-input-container>
        <label>Your Question</label>
        <textarea  ng-model="question"></textarea>
    </md-input-container>
    <md-input-container>
        <md-button class="md-raised md-primary" ng-click="addQuestion()">ADD</md-button>
    </md-input-container>
</div>